.chats{
    margin-top: 20px;
}

.chats div {
    animation: slideUp 0.4s ease-in-out;
}

.chats .user-message {
    background-color: #1da3a1;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
    align-self: flex-start;
    width: 60%;
    margin-right: 40%;
    animation: scaleUp 0.3s ease-in-out;
}

.chats .response-message {
    margin-left: 40%;
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
    max-width: 60%;
    align-self: flex-end;
    animation: scaleUp 0.3s ease-in-out;
}