.content {
    flex: 1;
    padding: 20px;
    background-color: #c7f3f2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-thumb {
    background-color:#a2dddc;
    border-radius: 10px;
}

.content::-webkit-scrollbar-track {
    background: transparent;
}

.container .content-header {
    color: #545353;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #484848;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.container .content-header .icons {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.container .content-header .icons i {
    font-size: 30px;
    color: #343a40;
    transition: transform 0.3s ease, color 0.3s ease;
}

.container .content-header .icons i:hover {
    color: #151616;
    transform: rotate(20deg);
}