.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #6f6f6f;
    background-color: #fff;
    position: sticky;
    bottom: -25px;
    left: 0;
    right: 0;
}

.input-container input {
    flex: 1;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px 0 0 5px;
    outline: none;
    border: none;
    font-size: 18px;
}

.input-container button {
    padding: 10px 20px;
    border: none;
    background-color: #3deae7;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

.input-container button:hover {
    background-color: #3deae7;
}