@import "./component/css/content.css";
@import "./component/css/chats.css";
@import "./component/css/input.css";

body{
    background-color: #9fe2e1 !important;
}
.container {
    max-width: 100% !important;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 700px;
}

.sidebar {
    width: 300px;
    background-color: #46b4b2;
    color: white;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(43, 41, 41, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.container .sidebar .list-group-item {
    background-color: #90d8d7;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    padding: 10px;
    border-radius: 5px;
}

.container .sidebar .list-group-item:hover {
    background-color: #3f8281;
    color: white;
    transform: scale(1.05);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
